# Environment variables
.env
.env.*

# Database
db.sqlite3

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Django specific
*.log
local_settings.py
media/
static/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# VS Code
.vscode/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
